{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand navbar-marg text-light" href="../">Úvodní stránka ligy <span class="sr-only">(current)</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
            </li>
            <li class="nav-item ">
                    <a class="navbar-brand navbar-marg text-light" href="{% url 'Liga:hrac_list' %}">Hráč</a>
                    <a class="navbar-brand navbar-marg text-light" href="{% url 'Liga:tym_list' %}">Tým</a>
                    <a class="navbar-brand navbar-marg text-light" href="{% url 'Liga:liga_list' %}">Liga</a>
                    <a class="navbar-brand navbar-marg text-light" href="{% url 'Liga:zapas_list' %}">Zápas</a>
            </li>
        </ul>
    </div>

</nav>
