{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 text-center bg-info mt-3 mb-3 box-rounded">
        <h2 class="text-white p-3">Vítejte na Stránkách Fotbalové Ligy</h2>
    </div>
    <div class="text-center">
        <p>
            Vítejte na oficiálních stránkách naší fotbalové ligy! Fotbal je více než jen sport, je to vášeň, která spojuje lidi z celého světa. Naše liga přináší napínavé zápasy, talentované hráče a nezapomenutelné okamžiky na hřišti.
        </p>
        <p>
            Na této stránce naleznete veškeré informace o našich týmech, jejich hráčích a nejnovějších statistikách. Sledujte aktuální výsledky zápasů, pořadí v tabulce a individuální výkony hráčů. Naše liga je domovem některých z nejlepších fotbalistů, kteří se utkávají o titul šampiona.
        </p>
        <p>
            Ať už jste fanoušek jednoho z našich týmů, nebo milovník fotbalu obecně, naše stránky vám poskytnou podrobné zpravodajství a aktuality. Připravili jsme pro vás články, rozhovory s hráči a trenéry, a také exkluzivní pohledy do zákulisí.
        </p>
        <p>
            Děkujeme, že nás sledujete a podporujete naši ligu. Přejeme vám příjemný zážitek při procházení našich stránek a mnoho radosti z fotbalových zápasů!
        </p>
    </div>
</div>
{% endblock %}